@import url('main-page/header.css') screen;
@import url('main-page/main-tag.css') screen;
@import url('footer.css');

body {
    background-image: url('/images/background/board1.png');
    background-size: cover;
}

#container {
    background-color: rgba(255, 255, 255, 0.3);
}
