@import url('table-page/header.css');
@import url('table-page/side-menu.css');
@import url('table-page/main.css');
@import url('table-page/footer.css');

/* dark mode
body {
    background-color: rgb(50, 50, 50);
}
*/
#container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 9em 100%;
    gap: 0 0.5em;
    grid-template-areas: 
        "header main side-right"
        "side-left main side-right";
}
