@import url('table-page/header.css');
@import url('table-page/side-menu.css');
@import url('table-page/main.css');
@import url('table-page/footer.css');

#container {
    width: 66em;
    display: grid;
    grid-template-columns: 18em 100%;
    grid-template-rows: 2fr 8.4fr;
    grid-template-areas: 
        "header main"
        "side-left main";
}
