:host {
    width: 100%;
}
#input-date {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3em;
}
#input-date input[type="date"] {
    font-size: 1.5em;
    cursor: pointer;
}
#input-date > label {
    padding: 1em;
    background-color: #96B6C5;
}
#calculate {
    font-size: 1em;
    padding: 1em;
    background-color: #C4DFDF;
    border-style: none;
    cursor: pointer;
    border-radius: 0.5em;
}
#calculate:hover {
    background-color: #96B6C5;
}
#result-displayer {
    width: 100%;
    background-color: #96B6C5;
    border: 1px solid red;
    padding: 1em;
    box-sizing: border-box;
}
#result-displayer section {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
#result-displayer section > label {
    margin-right: 0.5em;
}
#result-displayer section > p {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 450px) {
    #input-date {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "start-date calc-btn"
            "end-date calc-btn";
    }
    #input-date > label {
        padding: 0.1em;
    }
    #input-date > label[for="start-date"] {
        grid-area: start-date;
    }
    #input-date > label[for="end-date"] {
        grid-area: end-date;
    }
    #calculate {
        grid-area: calc-btn;
    }
}
