main {
    border: 1px solid green;
    width: 100%;
    grid-area: main;
    padding: 5em;
    box-sizing: border-box;
}

#content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}