#side-left {
    grid-area: side-left;
    border: 1px solid red;
    padding: 0;
}
#side-left > nav {
    margin: 0;
    padding: 0;
}

#side-right {
    grid-area: side-right;
    border: 1px solid pink;
    width: 100%;
}

@media screen and (max-width: 900px) {
    #side-left > nav {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
}
