@import url('../variables.css');

main {
    display: grid;
    grid-template-columns: repeat(3, var(--tool-thumbnail-default-width));
    gap: 3em 3em;
    justify-content: center;
    padding: 5em;
}

tool-thumbnail {
    display: inline-block;
    background-color: rgb(234, 234, 224);
    width: var(--tool-thumbnail-default-width);
    height: var(--tool-thumbnail-default-height);
    border: 3px groove black;
}
tool-thumbnail > section {
    width: var(--tool-thumbnail-default-width);
    height: var(--tool-thumbnail-default-height);
    position: relative;
}
tool-thumbnail > section > a {
    text-decoration: none;
    position: absolute;
    z-index: 2;
    color: rgb(58, 57, 57);
}
tool-thumbnail > section > a > img {
    /*width: var(--tool-thumbnail-default-width);*/
    width: 100%;
}
tool-thumbnail > section > a > p {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 1em;
    box-sizing: border-box;
    font-size: larger;
}
tool-thumbnail > section > .for-bg {
    width: var(--tool-thumbnail-default-width);
    height: var(--tool-thumbnail-default-height);
    position: absolute;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: bottom;
}
