header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2.5em 8.5em;
    grid-template-areas: 
        "configs configs configs"
        "title-left page-title title-right";
    justify-content: center;
    height: 11em;
}
#configs {
    grid-area: configs;
}
#title-left {
    grid-area: title-left;
}
#title-right {
    grid-area: title-right;
}
#page-title {
    text-align: center;
    grid-area: page-title;
}
#page-title > h1 {
    font-size: 3em;
    margin: 0.2em;
}
#page-title > p {
    margin: 0;
}

@media screen and (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "configs"
            "page-title"
            "title-left"
            "title-right";
        height: 11em;
    }
}
